.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #f0f4f8; 
}

.details-card {
  width: 100%;
  max-width: 800px; 
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e88e5;
  text-align: center;
}

mat-card-content {
  font-size: 16px;
  color: #333;
}

.game-image {
  width: 100%;
  max-width: 100%; 
  height: auto;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

mat-icon {
  margin-right: 5px;
}