<div class="register-container">
    <form class="register-form">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="register-button">Sign In!</button>
        <div class="login-link">
            Already have an account? <a href="/login">Login</a>
        </div>
    </form>
</div>
