.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8; /* Light background color */
}

.profile-card, .user-games-card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e88e5; /* Primary color from azure-blue theme */
  text-align: center;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.game-image-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: none;
}

.game-image-container:hover .remove-button {
  display: block;
}.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8; /* Light background color */
}

.profile-card, .user-games-card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e88e5; /* Primary color from azure-blue theme */
  text-align: center;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.game-image-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: none;
}

.game-image-container:hover .remove-button {
  display: block;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}