<div class="profile-container">
  <div *ngIf="loading" class="loader-container">
    <mat-spinner class="loader"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <mat-card class="profile-card">
      <mat-card-title>My Profile</mat-card-title>
      <mat-card-content>
        <p><strong>UserName:</strong> {{ userProfile?.displayName }}</p>
        <p><strong>Email:</strong> {{ userProfile?.email }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="user-games-card">
      <mat-card-title>My Games</mat-card-title>
      <mat-card-content>
        <div class="games-list">
          <div class="game-item" *ngFor="let game of userGames">
            <div class="game-image-container">
              <img [src]="game.image" alt="{{ game.title }}" class="game-image" />
              <button mat-icon-button class="remove-button" (click)="confirmRemoveGame(game)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <p>{{ game.title }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>