.header-container {
  background-color: #1e88e5; 
  font-family: Arial, sans-serif;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo img {
  height: 50px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #fff;
}

.header-nav {
  display: flex;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: medium;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e88e5;
  color: #fff;
}

nav a, nav button {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: medium;
  display: flex;
  align-items: center;

  &:hover {
    background-color: darken(#1e88e5, 5%);
    text-decoration: underline;
  }
}

mat-icon {
  margin-right: 5px;
}

.spacer {
  flex: 1;
}
