.header-container {
  background-color: #1e88e5; /* Primary color from azure-blue theme */
  font-family: Arial, sans-serif;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo img {
  height: 50px;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #fff;
}

.header-nav {
  display: flex;
  gap: 15px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: large;

  &:hover {
    text-decoration: underline;
  }
}

mat-toolbar {
  background-color: #1e88e5; /* Primary color from azure-blue theme */
}