<div class="catalog-container">
  <div *ngIf="loading" class="loader-container">
    <mat-spinner class="loader"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="games-list">
    <div class="game-card" *ngFor="let game of games; trackBy: trackById">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ game.title }}</mat-card-title>
          <mat-card-subtitle><strong>Year: </strong>{{ game.year }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="game.image" alt="{{ game.title }}" />
        <mat-card-content>
          <p><strong>Designer:</strong> {{ game.designer }}</p>
          <p><strong>Artist:</strong> {{ game.artist }}</p>
          <p><strong>Publisher:</strong> {{ game.publisher }}</p>
          <p><strong>Rating:</strong> {{ game.rating }}</p>
          <p><strong>Category:</strong> {{ game.category }}</p>
          <p>{{ game.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/details', game._id]">Details</button>
          <button mat-raised-button color="accent" (click)="addGameToProfile(game)" [disabled]="isGameInUserProfile(game._id)">Add to Profile</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
