<div class="catalog-container">
  <div *ngIf="loading" class="loader-container">
    <mat-spinner class="loader"></mat-spinner>
  </div>
  <div *ngIf="!loading" class="games-list">
    <div
      class="game-card"
      *ngFor="let game of paginatedGames; trackBy: trackById"
    >
      <img
        mat-card-image
        [src]="game.image"
        alt="{{ game.title }}"
        class="game-image"
      />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ game.title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-card-content>
            <p><mat-icon>calendar_today</mat-icon><strong>Year:</strong> {{ game.year }}</p>
            <p><mat-icon>person</mat-icon><strong>Designer:</strong> {{ game.designer }}</p>
            <p><mat-icon>brush</mat-icon><strong>Artist:</strong> {{ game.artist }}</p>
            <p><mat-icon>business</mat-icon><strong>Publisher:</strong> {{ game.publisher }}</p>
            <p><mat-icon>star</mat-icon><strong>Rating:</strong> {{ game.rating }}</p>
            <p><mat-icon>category</mat-icon><strong>Category:</strong> {{ game.category }}</p>
            <p><mat-icon>description</mat-icon>{{ game.description }}</p>
            <p><mat-icon>schedule</mat-icon>created {{ game.createdAt | elapsedTime  }} by <mat-icon>person</mat-icon>{{game.userDisplayName}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/details', game._id]"
            >
              <mat-icon>info</mat-icon>
              Details
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="addGameToProfile(game)"
              [disabled]="isGameInUserProfile(game._id)"
              *ngIf="user"
            >
            <mat-icon>add</mat-icon>
              Add Game
            </button>
          </mat-card-actions>
        </ng-template>
      </mat-expansion-panel>
    </div>
  </div>
  <mat-form-field appearance="fill" class="sort-dropdown">
    <mat-label>Sort by</mat-label>
    <mat-select
      [(value)]="sortCriteria"
      (selectionChange)="onSortCriteriaChange($event.value)"
    >
      <mat-option value="createdAt">Newest</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="year">Year</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-paginator
    [length]="filteredGames.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[12]"
    hidePageSize="true"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
