.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
  background-color: #f0f4f8; /* Light background color */
  padding: 20px;
}

.login-card {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  max-width: 800px; /* Set a fixed max-width */
  text-align: center;
  transition: all 0.3s ease; /* Smooth transition for any changes */
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #1e88e5; /* Primary color from azure-blue theme */
}

mat-card-content {
  font-size: 16px;
  color: #333; /* Dark text color */
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  background-color: #1e88e5; /* Primary color from azure-blue theme */
  color: #fff;
  font-size: 16px;

  &:hover {
    background-color: darken(#1e88e5, 10%);
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}

.register-link {
  margin-top: 20px;
}