<div class="home-container">
  <mat-toolbar color="primary">
    <span>Welcome to Board Game Hub</span>
  </mat-toolbar>

  <div class="home-content">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title
          >Join Us and Add your favorite games to your profile!</mat-card-title
        >
      </mat-card-header>
      <img mat-card-image src="logo.webp" alt="AppLogo" />
      <mat-card-content>
        <p>
          Discover the most exciting board games and join our community of
          enthusiasts!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/catalog"
          >Browse the games!</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</div>
